{% assign show_section = false %}

{%- for block in section.blocks -%}
  {%- assign title = block.settings.title -%}
  {%- assign content = block.settings.content -%}
  {%- assign page = block.settings.page -%}
  {%- assign manual_url = block.settings.manual_url_metafield -%}
  {% assign spec = product.metafields.custom.spec.value.html %}

  {%- if manual_url != blank -%}
    {% assign show_section = true %}
    
  {%- elsif spec != blank -%}
    {% assign show_section = true %}

  {%- elsif title != blank or content != blank or page != blank-%}
    {% assign show_section = true %}
    
  {%- endif -%}
  
{%- endfor -%}

{%- if show_section -%}

{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --tabs-max-width: {% if section.settings.content_size == 'small' %}760{% elsif section.settings.content_size == 'medium' %}1000{% elsif section.settings.content_size == 'large' %}1260{% endif %}px;
        --section-stack-spacing-block: var(--spacing-8);
      }
    }

    @media screen and (min-width: 1400px) {
      #shopify-section-{{ section.id }} {
        --section-stack-spacing-block: var(--spacing-10);
      }
    }

    .tab-content {
      text-align: left;
      }
      .tabs-nav__button {
        text-align: left;
        padding-left: 1rem;
      }
      .tabs-container {
        padding: 3rem;
        background: #efefef;
        border-color: #484848;
        border-width: 1px;
        border-radius: 20px;
      }
      @media screen and (min-width: 700px) {
        .tabs-inner::part(tab-list):after {
          background: #25c293;
        }
    }
    @media screen and (max-width: 767px) {
      .tabs-container {
        padding: 0rem;
      }
      .accordion {
        padding: 0rem 1.5rem;
        border-block-start-width: 0px;
      }
    }
    
  </style>

  <div {% render 'section-properties' %}>
    <div class="tabs">
      <div class="section-stack">
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
          <div class="prose text-center">
            {%- if section.settings.subheading != blank -%}
              <p class="subheading">{{ section.settings.subheading | escape }}</p>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <p class="h2">{%- render 'styled-text', content: section.settings.title, text_color: section.settings.heading_color, gradient: section.settings.heading_gradient -%}</p>
            {%- endif -%}
          </div>
        {%- endif -%}

        <div class="tabs-container">
          <div class="sm:hidden">
            {%- for block in section.blocks -%}
              
              {%- assign title = block.settings.title | default: block.settings.page.title -%}
              {%- assign content = block.settings.page.content | default: block.settings.content -%}
              {%- assign manual_url = block.settings.manual_url -%}
              {%- assign spec = product.metafields.custom.spec.value.html -%}

              {% comment %}
              Manual Downloads
              {% endcomment %}
              
              {%- if block.type == 'manual_download' and manual_url != blank -%}
                {%- capture accordion_content -%}
                  <div class="prose">
                    <a href="{{ manual_url }}" target="_blank">Download Manual</a>
                  </div>
                {%- endcapture -%}
                {%- render 'accordion', title: block.settings.manual_title, content: accordion_content, open: false -%}

                {% comment %}
                Normal blocks
                {% endcomment %}
                
                {%- elsif title != blank and content != blank -%}
                {%- capture accordion_content -%}
                  <div class="prose">{{ content }}</div>
                {%- endcapture -%}
                {%- render 'accordion', title: title, content: accordion_content, open: forloop.first and section.settings.first_tab_open -%}

                {% comment %}
                Tech spec
                {% endcomment %}
                
                {% elsif block.type == 'html' and spec != blank %}
                {% capture accordion_content %}
                   <div class="prose">{{ spec }}</div>
                {% endcapture %}
                {%- render 'accordion', title: block.settings.techspec_title, content: accordion_content, open: false -%}


                {% comment %}
                App block
                {% endcomment %}

                {%- elsif block.type == '@app' -%}
                {%- capture accordion_content -%}
                  <div class="prose">
                    {% render block %}
                  </div>
                {%- endcapture -%}
                {%- render 'accordion', title: 'Reviews', content: accordion_content, open: false -%}
                {%- endif -%}
              {%- endfor -%}
          </div>

          <x-tabs class="tabs-inner">
            <template shadowrootmode="open">
              <slot role="tablist" part="tab-list" name="title"></slot>
              <slot part="tab-panels" name="content"></slot>
            </template>
          
            {%- for block in section.blocks -%}
              {%- assign title = block.settings.title | default: block.settings.page.title -%}
              {%- assign content = block.settings.page.content | default: block.settings.content -%}
          
              {%- if block.type == 'manual_download' and block.settings.manual_url != blank -%}
                <button type="button" slot="title" class="tabs-nav__button bold text-subdued text-center" {{ block.shopify_attributes }}>
                {{ block.settings.manual_title | escape }}
                </button>
                <div role="tabpanel" class="tab-content prose" slot="content" {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}>
                  <a href="{{ block.settings.manual_url }}" target="_blank">Download Manual</a>
                </div>
              {%- endif -%}

              {% assign spec = product.metafields.custom.spec.value.html %}

              {% if block.type == 'html' and spec != blank %}
                <button type="button" slot="title" class="tabs-nav__button bold text-subdued text-center" {{ block.shopify_attributes }}>
                {{ block.settings.techspec_title | escape }}
                </button>
                <div role="tabpanel" class="tab-content prose" slot="content" {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}>
                {{ spec }} 
              </div>
              {% endif %}
    
              {%- if title != blank and content != blank -%}
                <button type="button" slot="title" class="tabs-nav__button bold text-subdued text-center" {{ block.shopify_attributes }}>{{ title | escape }}</button>
                <div role="tabpanel" class="tab-content prose" slot="content" {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}>
                  {{ content }}
                </div>
              {%- endif -%}

              {%- if block.type == '@app' -%}
                <button type="button" slot="title" class="tabs-nav__button bold text-subdued text-center" {{ block.shopify_attributes }}>
                Reviews
                </button>
                <div role="tabpanel" class="tab-content prose" slot="content" {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}>
                  {% render block %}
                </div>
              {% endif %}
                  
            {%- endfor -%}
          </x-tabs>
          
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
{% endif %}

{% schema %}
{
  "name": "Tabs",
  "class": "shopify-section--tabs",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "content_size",
      "label": "Content size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fill",
          "label": "Fill page"
        }
      ],
      "default": "medium"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "checkbox",
      "id": "first_tab_open",
      "label": "Open first tab on mobile"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Tab"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page",
          "info": "Replaces inline content if specified."
        }
      ]
    },
    {
      "type": "manual_download",
      "name": "Manual Download",
      "settings": [
        {
          "type": "text",
          "id": "manual_title",
          "label": "Manual Title",
          "default": "Download Manual"
        },
        {
        "type": "url",
        "id": "manual_url",
        "label": "Manual Download URL",
        "info": "Enter the URL for the manual download."
      }
      ]
    },
    {
    "type": "html",
    "name": "Tech Spec",
    "settings": [
      {
          "type": "text",
          "id": "techspec_title",
          "label": "Tech Spec Title",
          "default": "Tech Spec"
      }
    ]
  },
    {
      "type": "@app"
  }
  ],
  "presets": [
    {
      "name": "Tabs",
      "blocks": [
        {
          "type": "tab",
          "settings": {
            "title": "Tab 1",
            "content": "<p>Use this text to share information about your brand with your customers.</p>"
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "Tab 2",
            "content": "<p>Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "Tab 3",
            "content": "<p>Share information about your shipping rates, return policy or contact information.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
